#main {
    float: left;
    width: 100%;
    border: solid 1px black;
}

.left {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    width: 45%;

}

.right {
    float: right;
    margin-right: 10px;
    width: 50%;
}

#photo {
    width: 250px;
    height: 250px;
}

div > img {
    max-height: 100%;
    max-width: 100%;
}