html, body {
    margin: 0;
    padding: 0;
    border-right: solid 200px white;
    border-left: solid 200px white;
}

#main {
    float: left;
    width: 100%;
    border: solid 1px black;
}

.left {
    float: left;
    margin-left: 10px;
    width: 40%;
}

.right {
    float: right;
    margin-right: 10px;
    width: 50%;
}

.user_photo {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}

div > img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border: solid 2px red;

}