{% extends "base.html" %}
{% load static %}
{% block body %}
{% block content_info %}
<link rel="stylesheet" href="{% static "style.css" %}">
<h1>{{ message }}</h1>
{% if persons %}
    {% for person in persons %}
        <div id="main">
            <div class="left">
                <h3>Personal info.</h3>
                <label><b>Name:</b></label>{{ person.name }}
                <br/>
                <br/>
                <label><b>Last name:</b></label>{{ person.surname }}
                <br/>
                <br/>
                <label><b>Date of birth:</b></label>{{ person.date_of_birth }}
                <br/>
                <br/>
                <label><b>Bio:</b></label>{{ person.bio }}
                <br/>
                <br/>
            </div>
            <div class="right">
                <h3>Contacts</h3>
                <label><b>E-mail:</b></label>{{ person.email }}
                <br/>
                <br/>
                <label><b>Jabber:</b></label>{{ person.jabber_id }}
                <br/>
                <br/>
                <label><b>Skype:</b></label>{{ person.skype_id }}
                <br/>
                <br/>
                <label><b>Other contacts:</b></label><pre>{{ person.other_contacts }}</pre>
                <br/>
                <br/>
            </div>
        </div>
    {% endfor %}
{% else %}
<h3>No BIOs available.</h3>
{% endif %}
{% endblock content_info %}
{% block requests_link %}
<a href="{% url 'FortyTwoCoffeeCups.views.show_requests' %}">requests</a>
{% endblock requests_link %}
{% endblock body %}